body {
  background-color: #f5f8fa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #14171a;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccd6dd;
  font-size: 14px;
  color: #14171a;
  background-color: #f5f8fa;
}

.button {
  padding: 10px 20px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px; /* 追加 */
}

.button:last-child {
  margin-right: 0; /* 最後のボタンに余分なスペースを追加しない */
}

.button:hover {
  background-color: #0d8bec;
}

.posts {
  margin-top: 20px;
}

.post {
  border: 1px solid #e1e8ed;
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post small {
  color: #657786;
}

.parent-post {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f8fa;
  border-left: 4px solid #1da1f2;
  border-radius: 5px;
  font-style: italic;
}

.reply-section {
  margin-top: 10px;
}